
</div>
<div class="footer-padding"></div>

  <div class="footer">
    <section class="pattern">
    <h1><p>“ Code is like humor. When you have to explain it, it’s bad.” –<br><div id="author">Cory House</id> </p>
 </h1></section>
</div>
</div>
</body>
</html>
