<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Hackathon</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <body>
    <div class="topnav">
      <h1 style="float:left;">Codevita live</h1>
        <ul>
        <li><span class="dropdown"><button class="dropbtn"><a href="#">Home&#x25BC;</a></button>
        <div class="dropdown-content">
          <a href="#">- Careers@codevitalive</a>
          <a href="#">- FAQs</a>
        </div></span></li>
        <li><span class="dropdown"><button class="dropbtn"><a href="#">Explore other courses&#x25BC;</a></button>
        <div class="dropdown-content">
          <a href="#">- Powershot series</a>
          <a href="#">- Bon-Voyage</a>
        </div></span></li>
        <li>
        <span class="dropdown">
        <button class="dropbtn">Miscellaneous&#x25BC;</button>
        <div class="dropdown-content">
          <a href="#">- Terms and Conditions</a>
          <a href="#">- Privacy policy</a>
          <a href="#">- Refund policy</a>
          <a href="#">- Pricing</a>
          <a href="#">- Skill Brewery</a>
        </div>
        </span>
        </li>
        </ul>
      </div>
